* {
    margin: 0;
    padding: 0;
}
h1 {
    height: 5rem;
    line-height: 5rem;
    background-color: aqua;
    text-align: center;
}
.choices {
    text-align: center;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.choice:hover {
    opacity: 50%;
    cursor: pointer;
    background-color:black;
}
.choice {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
img {
    border-radius: 50%;
}
.score-board {
    text-align: center;
    margin-top: 2rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.msg-container {
   margin-top: 3rem;
   display: flex;
   justify-content: center;
}

#msg {
    display: inline;
    font-size: 2rem;
    background-color:darkcyan;
    color: white;
    padding: 1rem;
    border-radius: 10px;
}

#user-score, #comp-score {
    font-size: 3rem;
}