* {
    margin: 0;
    padding: 0;
}
h1 {
    height: 5rem;
    line-height: 5rem;
    background-color: aqua;
    text-align: center;
}
.choices {
    text-align: center;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.choice:hover {
    opacity: 50%;
    cursor: pointer;
}
.choice {
    height: 250px;
    width: 250px;
}
.rock {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    margin: 50px;
}
.paper {
    border-radius: 50%;
    margin: 50px;
}
.scissors {
    border-radius: 50%;
    margin: 50px;
}
.score-board {
    text-align: center;
    background-color: cornflowerblue;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.msg-container {
    text-align: center;
    background-color: chartreuse;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.5rem;
}
.score {
    font-size: 1.5rem;
}